body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 2px 5px;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

button {
  font-weight: bolder;
  border-radius: 4px;
}

#btn-delete {
  background-color: rgb(220, 55, 55);
}
